.statsSection {
  padding-block: var(--spacing-lg);
  display: flex;
  justify-content: center;
}

.statsContent {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacing-xs);
}

.tabsScrollContainer {
  overflow-x: auto;
  margin-bottom: 15px;
  padding-bottom: 5px;
  scrollbar-width: none; 
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.tabsScrollContainer::-webkit-scrollbar {
    display: none;
}

.tabs {
  display: flex;
  gap: 15px;
  width: max-content;
  padding: var(--spacing-xxs);
}

.tab {
  background: none;
  color: #888;
  font-weight: var(--font-weight-semibold);
  padding-bottom: 5px;
  font-size: var(--font-size-base);
  transition: color 0.2s;
  flex-shrink: 0;
  white-space: nowrap;
}

.tabActive {
  color: #fff;
  border-bottom: 2px solid var(--accent-green);
}

.playerList {
  width: 100%;
}

.playerDetails {
  margin-bottom: 10px;
}

.playerDetails[open] .playerSummary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--primary-green);
}

.playerDetails[open] .arrowDown {
  transform: rotate(180deg);
}

.playerDetails::details-content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s allow-discrete; /* Animate all property changes for 0.5s; allow discrete (non-animatable) properties to switch during the transition. */
}

.playerDetails[open]::details-content {
  height: auto;
}

.playerSummary {
  background-color: var(--card-bg);
  border: 1px solid #333;
  border-radius: var(--border-radius-sm);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.playerSummary::-webkit-details-marker {
  display: none;
}

.playerSummary:hover,
.playerSummary:focus-visible {
  border-color: var(--border-color);
  outline: none;
}

.playerSummary:focus-visible {
  border-color: var(--primary-green);
}

.playerStatsContent {
  background-color: #2a2a2a;
  border: 1px solid #333;
  border-top: none;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  padding: 15px;
}

.playerInfo {
  display: flex;
  flex-direction: column;
}

.playerRole {
  font-size: var(--font-size-sm);
  color: #888;
  margin-bottom: 2px;
}

.playerName {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrowDown {
  width: 10px;
  height: auto;
  opacity: 0.7;
}

.flag {
  width: 24px;
  height: auto;
  border-radius: 2px;
}

.showMore {
  background: none;
  border: none;
  text-align: center;
  color: #fff;
  font-size: var(--font-size-md);
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.chevron {
  width: 10px;
  height: auto;
  opacity: 0.7;
  transition: transform 0.3s ease;
}

.expanded {
  transform: rotate(180deg);
}
